<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link REL="SHORTCUT ICON" type="image/x-icon" HREF="/static/favicon.ico">  
    <title> 注册</title>
    <style type="text/css">
     .form{
    		position:absolute;
    		left:30%;
    		top:60px;
    	}
        .a{
            position:absolute;
            left:35%;
            top:80px;
            color:red;
        }
    </style>
    </head>
 <body>
 <div class='form'>
 <form method='post'>
 {% csrf_token %}
 {{form}}
<input type='submit' value='确定'/>
 </form>
 </div>
<div class='a'>
 {%ifequal flag 1%}
 注册成功
 {%endifequal%}
 {%ifequal flag 2%}
 用户名已存在，注册失败
 {%endifequal%}
 </div>
 </body></html>   